<app-topbanner></app-topbanner>
<app-toptitle></app-toptitle>
<app-background></app-background>
<app-fundname></app-fundname>
<app-information></app-information>
<app-documents></app-documents>
<app-objective></app-objective>
<app-performance></app-performance>
<app-transaction></app-transaction>
<app-charges></app-charges>
<app-announcement></app-announcement>
<app-returns></app-returns>
<app-topfund></app-topfund>
<app-risk></app-risk>
<app-disclaimer></app-disclaimer>
<app-bottom style="position: relative;top:77.2em;"></app-bottom>