<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="topbanner.component.css">  
<div class="navbar">
  <img class="logoImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/RHB_Logo.svg/1200px-RHB_Logo.svg.png">
  <p class="section">Asset Management</p>
  <a href="#funds">Funds</a>
  <a href="#tools">Tools</a>
  <a href="#aboutus">About Us</a>
  <a href="#search" style= "font-weight:400;color:rgb(46, 118, 185);position:absolute;right:16em;top:-0.7em;"><i class="fa fa-search fa-lg" style="margin-right:5px;position:relative;top:0em"></i>Search</a>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="fa fa-user-circle fa-lg"></i>Login</button>
</div>

