<app-min-top-banner></app-min-top-banner>
<app-toptitle-register></app-toptitle-register>
<app-background class="upload-id"></app-background>
<div class="container">
    <div class="inner" *ngFor="let i of stages; let x = index" [ngClass]=
    "{'inner-large':i.name.length>15,
    'inner-xlarge':i.name.length>18}">
        <div class="circle" [ngClass]="{'circle1':x+1===1}"><p class="index">{{x+1}}</p></div>
        <p class="stage" [ngClass]="{'stage1':x+1===1}">{{i.name}}</p>
        <div class="horizonline" [ngClass]="{'no-line':x+1===4}"></div>
    </div>
    <div class="horizonline" style="width:100%;left:0;top:0em;margin:0;border-bottom: 1.2px solid rgb(240, 240, 240);;"></div>
    <p class="describ">Your account opening application is subject to RHBAM's approval. You will be notified upon successful processing.</p>
    <p class="instruc">Upload ID For Verification</p>
</div>

<p>upload-id works!</p>
