<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<div class="container">

    <div class="top">  
        <img class="logoImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/RHB_Logo.svg/1200px-RHB_Logo.svg.png" routerLink="/homepage" routerLinkActive="active">
        <p class="section" routerLink="/homepage" routerLinkActive="active">Asset Management</p>
    </div>

    <div class="inner">
        <p class="content">User Login</p>
        <input type="text" placeholder="wernsheng" name="uname" required>
        <i class="far fa-user"></i>
        <input type="password" value="ifast!12345" name="psw" >
        <i class="material-icons-outlined" style="top:5.1em;font-size:22px;left:0.7em;">lock</i>
    </div>
</div>
